.input {
	border: 1.5px solid rgb(249, 188, 255);
	height: 28px;
	width: 100%;
	padding-left: 5px;
}
.input:focus-visible {
	outline: rgb(236, 78, 212) auto 2px;
}
.hidden {
	display: none;
}
.display {
	display: block;
}
