.textarea {
	margin-top: 5px;
	border: 1.5px solid rgb(251, 240, 92);
	width: 100%;
	padding: 15px 15px;
	margin-top: 5px;
	white-space: pre-wrap;
}

.textarea:focus-visible {
	outline: rgb(17, 255, 0) auto 2px;
}
.hidden {
	display: none;
}
.display {
	display: block;
}
