button {
	padding: 0 15px;
	background: transparent;
	border: 1.5px solid #d90debb3;
	cursor: pointer;
	height: 35px;
	transition: all 150ms ease-in-out;
	margin-top: 5px;
}
.large {
	width: 100%;
	max-width: 160px;
}
.medium {
	width: 100%;
	max-width: 130px;
}
.small {
	width: 100%;
	max-width: 100px;
}

button:active {
	transform: scale(0.95);
	box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.091);
}
