.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 100px;
	border: 2px solid rgb(243, 145, 252);
	padding: 20px;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.logo {
	width: 40%;
	min-width: 100px;
	max-width: 150px;
}
.name {
	text-align: center;
}
